:root {
    --white: #f5f5f5;
    --red: #e60000;
    --orange: #ff5500;
    --yellow: #f0c505;
    --parisgreen: #50c878;
    --palegreen: #98fb98;
    --blue: #00aaff;
    --darkblue: #1b4388;
    --darkbluelighter: #2862c8;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: all 0.3s linear;
}

body {
    font-family: "Comfortaa", sans-serif;
    letter-spacing: 0.1rem;
}

nav {
    background: var(--darkblue);
    height: 80px;
    width: 100%;
}

.logo {
    color: var(--white);
    font-size: 2.25rem;
    line-height: 80px;
    height: 80px;
    width: auto;
    /* font-family: "PT Sans", sans-serif;*/
    margin-left: 100px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a {
    color: var(--white);
    font-size: 1.125rem;
    /* text-transform: capitalize; */
    padding: 10px 10px;
    border-radius: 10px;
}

.nav-link.active,
.nav-link:hover {
    background: var(--darkbluelighter);
}

.color-boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.checkbtn {
    font-size: 1.75rem;
    color: var(--white);
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


.wrapper {
    z-index: -1;
    margin-top: 40px;
}

@media (max-width: 1024px) {
    .logo {
        margin-left: 50px;
    }
    nav ul li a {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    nav {
        z-index: 99;
        position: absolute;
        margin-bottom: 20px;
        top: 0;
    }

    .logo {
        margin-left: 20px;
    }

    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--darkbluelighter);
        top: 80px;
        left: -100%;
        text-align: center;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }
    .nav-link.active,
    .nav-link:hover {
        background: none;
        color: var(--palegreen);
    }
    #check:checked ~ ul {
        left: 0;
    }
}
